
*{
    padding:0px;
    margin:0px;
}





html{
    font-family: 'inter';
    font-size:10px;
}

:root{
    --navy:#1D2F48;
    --gradient:linear-gradient(to right, #1B222C, #1E457E);;
    --lighter-gradient:linear-gradient(100deg, #7BB1EE, #FFFFFF);;
}


.frost{
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.4);
    padding:30px 16px;
    box-sizing: border-box;
}



.section_title{
    color:var(--navy);
    font-size:3rem;
    font-family:'poppins';
    font-weight:bold;
    margin-top:25px;
}

.description{
    font-size:1.6rem;
    font-weight:400px;
}

body{}


#container{
    width:100vw;
    box-sizing: border-box;
}

    section{
        box-sizing: border-box;
        height:100vh;
        background:var(--lighter-gradient);
    }

    #landing{
        color: var(--navy);
        position:relative;
    }

        #nav{
            position:relative;
        }

            .main_nav{
                display:flex;
                flex-wrap:nowrap;
                justify-content: space-between;
                align-items: center;
                padding:10px 0px;
            }

                .main_nav p{
                    font-size:2.1rem;
                    font-weight: bold;
                }

                .menu{
                    width:23px;
                }
                
                .close{
                    display:none;
                    width:20px;
                }

            .dropdown{
                display:none;
                position:absolute;
                background:rgba(255,255,255,0.75);
                width:100%;
                box-sizing: border-box;
                padding:10px;
                backdrop-filter: blur(5px);
                box-shadow: 0px 4px 10px 7px rgba(0,0,0,0.25);
            }

                .dropdown p{
                    font-size:1.7rem;
                    font-weight:500;
                }

                .dropdown p:not(:last-child){
                    margin-bottom:10px;
                }


        
        #landing .frost>p:first-of-type{
            font-family:'poppins';
            font-size:3rem;
            font-weight: bold;
            margin-top:15%;
            margin-bottom:10%;
            width:80%;
        }

        #landing .frost > p:last-of-type{
            font-size:1.6rem;
            font-weight: 500;
            margin-bottom:10%;
            width:70%;
        }

        #landing .frost > button{
            color:white;
            font-size:1.6rem;
            font-weight:bold;
            background:var(--gradient);
            width:189px;
            height:48px;
            outline:none;
            border:none;
            border-radius:35px;
        }

        .image{
            display:flex;
            flex-wrap:wrap;
            justify-content: space-around;
            align-items: center;
            position:absolute;
            bottom:0px;
            right:0px;
        }

            .image > p{
                font-family:'cinzel';
                font-size:2.5rem;
                font-weight: bold;
            }

            .image > img{
                width:250px;
            }
        
        

        .side{
            display:flex;
            flex-wrap:wrap;
            flex-direction:column;
            justify-content: space-between;
            height:200px;
            position:absolute;
            right:16px;
            top:50%;
            transform: translate(0, -50%);
        }

            .side img{
                width:20px;
            }

    
    #services{}

        .the_services{
            width:100%;
            height:75%;
            display:flex;
            flex-wrap:nowrap;
            overflow: scroll;
            scroll-behavior: smooth;
            margin-top:15%;
        }

            .service{
                flex-shrink: 0;
                width:100%;
            }

                .service > p:first-child{
                    font-size:2rem;
                    font-weight:bold;
                    margin-bottom:5%;
                }

                .service > p:last-child{
                    font-size:1.6rem;
                    font-weight:400;
                    font-family: 'poppins';
                    width:80%;
                    margin:0 auto;
                }

                .service > div{
                    width:95%;
                    margin:0 auto;
                    margin-bottom:8%;
                    height:165px;
                    background-color:var(--navy);
                    border-radius:20px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .service_pic_1{
                    background-image:url('assets/pic.png');
                }

                .service_pic_2{
                    background-image:url('assets/pic.png');
                }

                .service_pic_3{
                    background-image:url('assets/pic.png');
                }


            .nav_buttons{
                display: flex;
                flex-wrap:nowrap;
                justify-content: end;
                align-items: center;                
            }

                .nav_buttons>img{
                    width:50px;
                }

                .left{
                    margin-right:10px;
                }

                .right{
                    margin-right:40px;
                }

    #about_me{}

        .profile{
            display:flex;
            flex-wrap:wrap;
            justify-content: space-between;
            align-items: end;
            margin-bottom:30px;
        }

            .info{
                margin-bottom:20px;
            }

                .info p:first-child{
                    font-size:2.5rem;
                    font-weight:400;
                }

                .info p:last-child{
                    font-size:1.6rem;
                    font-weight:400;
                    opacity:0.75;
                }

            .profile_pic{
                background-color: var(--navy);
                background-image:url('assets/ketema2.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 45% 65%;
                background-size: 150%;
                width: 150px;
                aspect-ratio: 1/1;
                outline:none;
                border:none;
                border-radius:100px;
            }



    
    #expertise{}

        #expertise .description{
            margin-top:8%;
        }

        .expertise_list{
            margin-top:30px;
            padding:0px 15px;
        }

            .expert:not(:last-child){
                margin-bottom:15px;
            }

                .expert>p:first-child{
                    font-size:2rem;
                    font-weight:600;
                }

                .expert>p:last-child{
                    font-size:1.6rem;
                    font-weight:400;
                }


    
    #contact_me{
        padding:30px 16px;
        background:var(--navy);
        position:relative;
    }

        .clouds{
            position:absolute;
            top:0px;
            left:0px;
            width:100%;

            /* try blending mnamn or demo glassy with transsform up */
        }

        #contact_me>p{
            color:white;
            font-size:3rem;
            font-family:'poppins';
            font-weight:bold;
            margin-top:20%;
        }


        #form{
            margin-top:60px;
            text-align: center;
        }

            #form > input:not([type="submit"]){
                width: 100%;
                outline:none;
                border:1.5px solid white;
                background:none;
                border-radius:15px;
                margin-bottom:20px;
                padding:20px 15px;
                font-size: 1.8rem;
                box-sizing: border-box;
                color:white;
            }

            #form > textarea{
                width: 100%;
                outline:none;
                border:1.5px solid white;
                resize: none;
                background:none;
                color:white;
                height:120px;
                padding:20px 15px;
                font-size: 1.6rem;
                border-radius:15px;
                box-sizing: border-box;
            }

            #form > input[type="submit"]{
                background:white;
                color:var(--navy);
                font-size:3rem;
                font-weight:600;
                width:298px;
                height:66px;
                outline:none;
                border:none;
                border-radius: 60px;
                margin-top:40px;
            }









@media (min-width:300px) and (max-width:400px){
    html{
        font-size:7px;
    }

    .menu{
        width:19px;
    }


    .close{
        width:16px;
    }

}