
*{
    padding:0px;
    margin:0px;
}





html{
    font-family: 'inter';
    font-size:10px;
    scroll-behavior: smooth;
}

:root{
    --navy:#1D2F48;
    --gradient:linear-gradient(to right, #1B222C, #1E457E);;
    --lighter-gradient:linear-gradient(100deg, #7BB1EE, #FFFFFF);;
}


.frost{
    width:100%;
    height:100%;
    min-height: 100vh;
    background:rgba(255,255,255,0.4);
    padding:30px 16px;
    box-sizing: border-box;
}



.section_title{
    color:var(--navy);
    font-size:3rem;
    font-family:'poppins';
    font-weight:bold;
    margin-top:25px;
}

.description{
    font-size:1.6rem;
    font-weight:400px;
}

.hide{
    display:none;
}


body{
    background:var(--lighter-gradient);
}


#container{
    width:100vw;
    box-sizing: border-box;
    min-width:300px;
    max-width:1440px;
    margin:0 auto;
}

    section{
        box-sizing: border-box;
        background:var(--lighter-gradient);
        min-height: 100vh;
    }

    #landing{
        color: var(--navy);
        position:relative;
        height:100vh;
    }

        .side{
            display:flex;
            flex-wrap:wrap;
            flex-direction:column;
            justify-content: space-between;
            height:200px;
            position:absolute;
            right:16px;
            top:50%;
            transform: translate(0, -50%);
        }

            .side img{
                width:20px;
            }

        #nav{
            position:relative;
        }

            .main_nav{
                display:flex;
                flex-wrap:nowrap;
                justify-content: space-between;
                align-items: center;
                /* padding:10px 0px; */
            }

                .main_nav p{
                    font-size:2.1rem;
                    font-weight: bold;
                }

                .menu{
                    width:23px;
                }
                
                .close{
                    /* display:none; */
                    width:20px;
                }

            .dropdown{
                /* display:none; */
                position:absolute;
                margin-top: 10px;
                background:rgba(255,255,255,0.75);
                width:100%;
                box-sizing: border-box;
                padding:10px;
                backdrop-filter: blur(5px);
                box-shadow: 0px 4px 10px 7px rgba(0,0,0,0.25);
                font-size:1.7rem;
                font-weight:500;
                color:black;
            }

                .dropdown a p{
                    /* background:orange; */
                    padding:5px 10px;
                    border-radius:10px;
                    box-sizing: border-box;
                    transition: color 0.3s, background 0.3s;
                }
                
                    .dropdown a p:hover{
                        color:white;
                        background:var(--gradient);
                        cursor:pointer;
                    }

                .dropdown a p:not(:last-child){
                    margin-bottom:10px;
                }

                a{
                    text-decoration:none;
                    color:inherit;
                    font:inherit;
                }
                
        
        #landing .frost>p:first-of-type{
            font-family:'poppins';
            font-size:3rem;
            font-weight: bold;
            margin-top:15%;
            margin-bottom:10%;
            width:80%;
        }

        #landing .frost > p:last-of-type{
            font-size:1.6rem;
            font-weight: 500;
            margin-bottom:10%;
            width:70%;
        }

        #landing .frost > button{
            color:white;
            font-size:1.6rem;
            font-weight:bold;
            background:var(--gradient);
            width:50%;
            /* width:189px; */
            /* height:48px; */
            aspect-ratio: 4/1;
            outline:none;
            border:none;
            border-radius:35px;
        }

        .hover_effect{
            transition: transform 0.5s, box-shadow 0.5s;
        }

        .hover_effect:hover{
            cursor:pointer;
            transform:scale(1.1);
            box-shadow:-2px 4px 8px 4px rgba(0,0,0,0.25);
        }

        .image{
            display:flex;
            flex-wrap:wrap;
            justify-content: space-around;
            align-items: center;
            position:absolute;
            bottom:0px;
            right:0px;
        }

            .image > p{
                font-family:'cinzel';
                font-size:2.5rem;
                font-weight: bold;
            }

            .image > img{
                /* width:250px; */
                width:55%;
            }
        
        

        

    
    #services{}

        .the_services{
            width:100%;
            display:flex;
            flex-wrap:nowrap;
            overflow: hidden;
            /* scroll-behavior: smooth; */
            margin-top:15%;
        }

            .service{
                flex-shrink: 0;
                width:100%;
                /* display:flex; */
                /* flex-wrap:wrap; */
                /* flex-direction: column; */
                /* justify-content: space-around; */
                /* gap:15px; */
            }

                .title_and_pic{
                    width:100%;
                }

                .title_and_pic > p{
                    font-size:2rem;
                    font-weight:bold;
                }

                .title_and_pic > div{
                    width:95%;
                    aspect-ratio: 2/1;
                    /* height:165px; */
                    margin:8% auto 8% auto;
                    /* margin-bottom:8%; */
                    background-color:var(--navy);
                    border-radius:20px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .service > p{
                    font-size:1.6rem;
                    font-weight:400;
                    font-family: 'poppins';
                    width:80%;
                    margin:0 auto;
                }

                

                .service_pic_1{
                    background-image:url('assets/pic.png');
                }

                .service_pic_2{
                    background-image:url('assets/pic.png');
                }

                .service_pic_3{
                    background-image:url('assets/pic.png');
                }


            .nav_buttons{
                display: flex;
                flex-wrap:nowrap;
                justify-content: end;
                align-items: center;
                margin:0 auto;
                margin-top:20px;
            }

                .nav_buttons>img{
                    width:50px;
                    transition:transform 0.2s;
                }

                    .nav_buttons>img:hover{
                        transform:scale(1.1);
                    }

                .left{
                    margin-right:10px;
                }

                .right{
                    /* margin-right:40px; */
                }

    #about_me{}

        .profile{
            display:flex;
            flex-wrap:wrap;
            justify-content: space-between;
            align-items: end;
            margin-bottom:30px;
        }

            .info{
                margin-bottom:20px;
            }

                .info p:first-child{
                    font-size:2.5rem;
                    font-weight:400;
                }

                .info p:last-child{
                    font-size:1.6rem;
                    font-weight:400;
                    opacity:0.75;
                }

            .profile_pic{
                background-color: var(--navy);
                background-image:url('assets/ketema2.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 45% 65%;
                background-size: 150%;
                /* width: 150px; */
                width: 40%;
                aspect-ratio: 1/1;
                outline:none;
                border:none;
                border-radius:50%;
            }

        #about_me .description{
            margin-bottom:30px;
        }


    
    #expertise{}

        #expertise .description{
            margin-top:8%;
        }

        .expertise_list{
            margin:30px 0px 50px 0px;
            padding:0px 15px;
        }

            .expert:not(:last-child){
                margin-bottom:15px;
            }

                .expert>p:first-child{
                    font-size:2rem;
                    font-weight:600;
                }

                .expert>p:last-child{
                    font-size:1.6rem;
                    font-weight:400;
                }


    
    #contact_me{
        padding:30px 16px;
        background:var(--navy);
        position:relative;
        /* min-height:100vh; */
    }

        .clouds{
            position:absolute;
            top:0px;
            left:0px;
            width:100%;

            /* try blending mnamn or demo glassy with transsform up */
        }

        #contact_me>p{
            color:white;
            font-size:3rem;
            font-family:'poppins';
            font-weight:bold;
            margin-top:20%;
        }


        #form{
            margin:0 auto;
            margin-top:60px;
            text-align: center;
        }

            #form > input:not([type="submit"]){
                width: 100%;
                /* padding:20px 15px; */
                padding:0px 15px;
                aspect-ratio:6.5/1;
                outline:none;
                border:1.5px solid white;
                background:none;
                border-radius:15px;
                margin-bottom:20px;
                font-size: 1.8rem;
                box-sizing: border-box;
                color:white;
            }

            #form > textarea{
                width: 100%;
                /* height:120px; */
                aspect-ratio: 2/1;
                padding:20px 15px;
                outline:none;
                border:1.5px solid white;
                resize: none;
                background:none;
                color:white;
                font-size: 1.6rem;
                border-radius:15px;
                box-sizing: border-box;
            }

            #form > input[type="submit"]{
                background:white;
                color:var(--navy);
                font-size:3rem;
                font-weight:600;
                /* width:298px; */
                /* height:66px; */
                width:80%;
                aspect-ratio: 5/1;
                outline:none;
                border:none;
                border-radius: 60px;
                margin-top:40px;
            }









@media (min-width:300px) and (max-width:400px){
    html{
        font-size:7px;
    }

    #landing{
        min-height: 600px;
        /* background:green; */
    }

        .menu{
            width:19px;
        }


        .close{
            width:16px;
        }

        #landing .frost>p:first-of-type{
            width:70%;
        }

        #landing .frost > p:last-of-type{
            width:55%;
        }

        #landing .frost > button{
            font-size:1.8rem;
        }


        .side{
            height:170px;
        }

            .side img{
                width:17px;
            }


    .service > p{
        font-size:1.7rem;
        width:85%;
    }

        .nav_buttons{
            width:95%;
        }

        .nav_buttons>img{
            width:35px;
        }

    .info p:first-child{
        font-size:2.7rem;
    }

    .info p:last-child{
        font-size:1.8rem;
    }

    .description{
        font-size:1.9rem;
    }

    .expert>p:first-child{
        font-size:2.2rem;
    }

    .expert>p:last-child{
        font-size:1.8rem;
    }


    #form > input:not([type="submit"]){
        font-size: 2rem;
    }

    #form > textarea{
        font-size: 1.8rem;
    }

    #form > input[type="submit"]{
        font-size:3.2rem;
    }

}



@media (min-width:401px) and (max-width:480px){
    #landing{
        min-height: 850px;
        /* background:blue; */
    }

    /* .title_and_pic{
        background:yellow;
    }

    .nav_buttons{
        background:red;
    } */
}



@media (min-width:481px){
    #landing{
        min-height: 850px;
        /* background:yellow; */
    }

    #landing .frost > button{
        font-size: 1.8rem;
    }


    .title_and_pic > div{
        width:85%;
    }

        .nav_buttons{
            width:85%;
        }

        .nav_buttons>img{
            width:35px;
        }

    .profile_pic{
        width:35%;
    }

    #form{
        width:80%;
    }

    #form > input[type="submit"]{
        width:70%;
    }

}






@media (min-width:530px){
    .profile{
        flex-direction: row-reverse;
        justify-content: start;
        margin-top:50px;
    }

        .info{
            margin-bottom:10px;
            margin-left: 15px;
        }

        .profile_pic{
            width: 15%;
        }
}






@media (min-width:650px){

    .side{
        position:static;
        display:flex;
        width:100%;
        flex-wrap:nowrap;
        flex-direction: row;
        height:fit-content;
        justify-content: end;
        align-items: center;
        gap:20px;
    }


    #nav{
        position:static;
        display:flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: end;
        
    }


        .menu{
            display:none;
        }

        .close{
            display:none;
        }

        .dropdown{
            position:static;
            display:flex;
            flex-wrap:wrap;
            width: fit-content;
            box-shadow: none;
            backdrop-filter:none;
            background:none;
            gap:10px;
            padding:0;
            margin-top: 0px;
        }

        .dropdown a p:not(:last-child){
            margin-bottom:0px;
        }

}





@media (min-width:571px){


    .image{
        justify-content: end;
    }

    .expertise_list{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
    }

        .expert{
            flex: 0 0 45%;
            margin-top:20px;
        }

        .expert>p:first-child{
            margin-bottom:5px;
        }

    .frost{
        padding-left:8%;
        padding-right:8%;
    }

    #contact_me{
        padding-left:8%;
        padding-right:8%;
    }


    #landing{
        /* background:red; */
        min-height:900px;
    }

        

        #landing .frost > button{
            width:35%;
            font-size:1.5rem;
        }

        
        .image > img{
            width:50%;
        }

    .the_services{
        margin-top:10%;
    }

    .title_and_pic > div{
        width:85%;
    }

    .nav_buttons{
        width:85%;
    }

        .nav_buttons>img{
            width:40px;
        }

    

    
    #form{
        width: 80%;
    }
    
    #form > input:not([type="submit"]){
        aspect-ratio:9/1;
    }

    #form > textarea{
        aspect-ratio: 3/1;
    }
            
    #form > input[type="submit"]{
        width:55%;
        font-size:2.6rem;
    }
}





@media (min-width:750px){

    html{
        font-size: 10px;
    }

    #landing{
        /* background:greenyellow; */
    }

        .image > img{
            width:45%;
        }

    #landing .frost > button{
        font-size:1.9rem;
    }

    .profile_pic{
        width:12%
    }

    #expertise .description{
        margin-top:5%;
    }

    #contact_me>p{
        text-align: center;
    }

    #form{
        width: 70%;
    }
    
    #form > input:not([type="submit"]){
        aspect-ratio:9.5/1;
    }

    #form > textarea{
        aspect-ratio: 3.5/1;
    }

}




@media (min-width:1001px){

    .title_and_pic > div{
        height:400px; /*same val*/
    }
    
    .the_services{
        min-height:400px; /*same val*/
    }

    .service{
        box-sizing: border-box;
        padding:0px 5%;
    }

    .title_and_pic{
        position: relative;
    }

        .title_and_pic > p{
            width:50%;
        }
        

        .title_and_pic > div{
            width:40%;
            position:absolute;
            top:0px;
            right:0px;
            margin:0px;
        }


        .service > p{
            margin:2% 0px 0px 40px;
            width:50%;
        }

}





@media (min-width:1001px){

    html{
        font-size:11px;
    }

    #landing{
        /* background:purple; */
    }

    #landing .frost>p:first-of-type{
        width:50%;
        margin-top:10%;
        margin-bottom:7%;
    }

    #landing .frost > p:last-of-type{
        margin-bottom:7%;
    }

    .side{
        margin-top:15px;
        margin-bottom:5px;
    }

    .image > img{
        width:40%;
    }

    .dropdown{
        gap:20px;
    }

    #landing .frost > button{
        font-size:2rem;
        width:30%;
        aspect-ratio: 4.5/1;
    }
    
    .the_services{
        margin-top:5%;
    }

    .nav_buttons{
        width:100%;
        padding:0px 5%;
        box-sizing: border-box;
    }
    
    .profile_pic{
        width:8%
    }

    .info{
        margin-bottom:5px;
        margin-left: 25px;
    }

    #form{
        width: 60%;
    }
    
    #form > input:not([type="submit"]){
        aspect-ratio:10/1;
    }

    #form > textarea{
        aspect-ratio: 4/1;
    }
            
}





@media (min-width:1201px){

    html{
        font-size:12px;
    }

    .frost{
        padding-left:10%;
        padding-right:10%;
    }

    #landing{
        /* background:green; */
    }

    #landing .frost>p:first-of-type{
        margin-top:9%;
        margin-bottom:3%;
    }

    #landing .frost > p:last-of-type{
        margin-bottom:3%;
    }

    .side{
        margin-top:25px;
        margin-bottom:15px;
    }

        #landing .frost > button{
            font-size:1.8rem;
            width:25%;
            aspect-ratio: 4.8/1;
        }

    .title_and_pic > div{
        height:450px; /*same val*/
    }
    
    .the_services{
        min-height:450px; /*same val*/
    }
    

        .title_and_pic > div{
            width:35%;
        }

        .nav_buttons{
            width:100%;
            padding:0px;
        }


        .service{
            padding:0px;
        }


    .profile{
        padding:0px 8%;
        margin-bottom:7%;
    }

    #about_me .description{
        padding:0px 8%;
    }

    .description{
        line-height: 25px;
    }

    .expertise_list{
        padding:0px 5%;
    }

        .expert{
            margin-top:30px;
        }

            .expert>p:first-child{
                font-size:1.8rem;
            }

            .expert>p:last-child{
                font-size:1.4rem;
            }


        #form{
            width: 45%;
            margin-top:30px;
        }
        
        #form > input:not([type="submit"]){
            border:2px solid white;
            margin-bottom:25px;
            aspect-ratio:8.5/1;
        }

        #form > textarea{
            aspect-ratio: 3/1;
            border:2px solid white;
        }

        #form > input[type="submit"]{
            font-size:2.2rem;
            aspect-ratio: 4.7/1;
        }

}

